---
import { Image } from "astro:assets";
import headshot from "@assets/headshot.jpeg";
---

<div class="grid float-left w-[clamp(120px,30%,300px)] mr-4 mb-4 mt-2">
  <Image src={headshot} alt="Jhey on stage" />
</div>
