---

---

<form>
  <input type="text" placeholder="preferred name" />
  <input type="email" placeholder="email" required />
  <button type="submit">Join Waitlist</button>
</form>
<script>
  const forms = document.querySelectorAll("form");
  for (const form of forms) {
    form.addEventListener("submit", (event) => {
      event.preventDefault();
      console.info("submmited");
    });
  }
</script>
